# Gemini
GEMINI_API_KEY=***REMOVED***

# HRMS OAuth
AUTH_HRMS_ID=
AUTH_HRMS_SECRET=
AUTH_HRMS_ISSUER=https://hrms.cudo.co.kr:9700
AUTH_CALLBACK_URL=https://dx-service.cudo.co.kr:7007/briify/api/auth/oauth/hrms/callback

# NextAuth
AUTH_SECRET=***REMOVED***
AUTH_URL=https://dx-service.cudo.co.kr:7007/briify
