# Gemini
GEMINI_API_KEY=***REMOVED***

# HRMS OAuth
AUTH_HRMS_ID=***REMOVED***
AUTH_HRMS_SECRET=***REMOVED***
AUTH_HRMS_ISSUER=https://hrms.cudo.co.kr:9700
# NextAuth
AUTH_SECRET=***REMOVED***
AUTH_URL=https://dx-service.cudo.co.kr:7007

# Admin
ADMIN_PASSWORD=***REMOVED***